/*Video*/
.video {
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;
}

.video > h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}

.display {
    display: flex;
    flex-wrap: wrap;
}

/*VideoCard*/
.videoCard {
    margin-bottom: 40px;
    width: 270px;
}

.videoCard-thumbnail {
    height: 140px;
    width: 250px;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: black;
}

.videoCard-info {
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
    margin-left: 10px;
}

.videoCard-text {
    margin-left: 15px;
}